.wrapper {
    background-image: linear-gradient(to bottom, var(--theme-color) 10%, var(--secondary-color), #fff);
}

div.main-container {
    background-color: #fff;
    border-radius: 8px 8px 0 0;
    padding: 1.5rem;
}

.Calculator > .container {
    margin-top: 1rem;
}

@media (max-width: 370px) {
    .resistor-svg {
        width: 90%;
    }

    .resistor-info .bounds {
        margin-left: 0 !important;
    }

    div.main-container {
        padding: 0.8rem 0 0 0;
    }

    .row {
        margin: 0;
    }
}
