.Navbar {
    background-color: var(--theme-color) !important;
}

.resistorIcon {
    width: 2rem;
    position: relative;
    top: -3px;
    margin-right: 0.75rem;
}

.brand {
    font-family: 'Lobster Two', sans-serif;
    font-size: 1.5rem;
    padding-top: 0;
}
