:root {
  --theme-color: #3E5151;
  --secondary-color: #DECBA4;
}

.is-black {
  background-color: #212529;
  fill: #212529;
  color: white;
}

.is-brown {
  background-color: rgb(155, 57, 0);
  fill: rgb(155, 57, 0);
  color: white;
}

.is-red {
  background-color: #dc1b15;
  fill: #dc1b15;
  color: white;
}

.is-orange {
  background-color: #fd7e14;
  fill: #fd7e14;
}

.is-yellow {
  background-color: #ffc107;
  fill: #ffc107;
}

.is-green {
  background-color: #28a745;
  fill: #28a745;
  color: white;
}

.is-blue {
  background-color: #007bff;
  fill: #007bff;
  color: white;
}

.is-violet {
  background-color: #e83e8c;
  fill: #e83e8c;
  color: white;
}

.is-grey {
  background-color: #6c757d;
  fill: #6c757d;
  color: white;
}

.is-white {
  background-color: #fff;
  fill: #fff;
}

.is-gold {
  background-color: gold;
  fill: gold;
}

.is-silver {
  background-color: silver;
  fill: silver;
}

a.nav-link.active {
  font-weight: bold;
}

.dropdown-toggle.nav-link::after {
  margin-left: 0.355rem;
  vertical-align: middle;
}

.Chart td {
  border: 1px solid #000;
  margin: 2px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
