.background-wrapper {
  background-image: linear-gradient(to bottom, #343a40, #ffffff);
}

.wrapper {
  background-color: #ffffff;
  margin: 0 1rem;
  padding: 1rem 0;
  border-radius: 16px;
}

.is-black {
  background-color: #212529;
  fill: #212529;
  color: white;
}

.is-brown {
  background-color: rgb(155, 57, 0);
  fill: rgb(155, 57, 0);
  color: white;
}

.is-red {
  background-color: #dc1b15;
  fill: #dc1b15;
  color: white;
}

.is-orange {
  background-color: #fd7e14;
  fill: #fd7e14;
}

.is-yellow {
  background-color: #ffc107;
  fill: #ffc107;
}

.is-green {
  background-color: #28a745;
  fill: #28a745;
  color: white;
}

.is-blue {
  background-color: #007bff;
  fill: #007bff;
  color: white;
}

.is-violet {
  background-color: #e83e8c;
  fill: #e83e8c;
  color: white;
}

.is-grey {
  background-color: #6c757d;
  fill: #6c757d;
  color: white;
}

.is-white {
  background-color: #fff;
  fill: #fff;
}

.is-gold {
  background-color: gold;
  fill: gold;
}

.is-silver {
  background-color: silver;
  fill: silver;
}

.is-blank {
  background-color: rgb(255, 209, 136);
  fill: rgb(255, 209, 136);
}

.Chart {
  height: 100%;
}

.Chart th {
  text-align: center;
}

.Chart td {
  border: 1px solid black;
}

.col {
  margin-bottom: 1.5rem;
}

.resistor-svg {
  width: 20em;
  height: 30%;
  display: block;
  margin: 0 auto;
}

.resistor-info {
  margin: 0;
  text-align: center;
}

.Calculator > .container {
  margin-top: 1rem;
}

.Chart table {
  width: 100%;
}

.Chart .is-checked {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
  border: 2px dashed;
  font-weight: bold;
  padding: 0;
}

.inner {
  padding: 2px;
}

.Chart td {
  margin: 2px;
}

.Chart table td:first-child {
  padding: 0 10px;
}

.Chart .band, .Chart .multiplier {
  text-align: center;
}

.is-clickable:hover {
  cursor: pointer;
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.resistor-icon {
  width: 2rem;
  position: relative;
  top: -3px;
  margin-right: 0.75rem;
}

a.navbar-brand {
  font-family: 'Lobster Two', sans-serif;
  font-size: 1.5rem;
  padding-top: 0;
}

a.nav-link.active {
  font-weight: bold;
}

.ESeries table {
  width: 100%;
  text-align: center;
}

.github-icon {
  width: 1.25rem;
}
